
body{
  background: #B9D9EB;
  font-family: "Nunito", sans-serif;
  color: black;
  font-size: 1rem;
  min-height: 100vh;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr minmax(280px, 20%);
  grid-template-rows: auto 1fr;
  gap: 2vw;
  grid-template-areas:
          "header header "
          "content sidebar";
  margin: 2vw;
  min-height: 90vh;
}



#header-title {
  font-size: 1.8rem;
  margin: 0;
  flex: 1;
  text-align: left;
}



/*--------NAVIGATION BUTTON--------*/

.navigation-button {
  display: flex;
  width: 50px;
  height: 40px;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}


.navigation-button:hover {
  transform: scale(1.14);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}



/*--------GRID AREA: CONTENT--------*/


.content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100%;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 0;

}

.calendar {
  padding: 1vw;
  display: inline-grid;
  grid-template-rows: 80px 25px auto;
  align-items: flex-start;
  box-sizing: border-box;
  background: transparent;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1.9px);
  -webkit-backdrop-filter: blur(2.9px);
  width: 100%;
  height: 100%;
}



.calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 equal columns */
  grid-template-rows: 60px 60px 60px 60px 60px 60px; /* Makes rows grow/shrink equally */
  width: 100%;
  background-color: transparent;
  height: 100%;
  padding: 1vw;
  box-sizing: border-box;
  align-items: center;
  gap: 0.5vw;
  transition: grid-template-rows 0.6s ease-in-out 0.1s;

  }

.calendar-dates div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;    /* Align to top-left corner */
  justify-content: flex-start;/* Push content to top */
  padding: 0.5rem; /* Some spacing inside the cell */
  cursor: pointer;
  width: 100%;
  height: 100%;/* Makes cells tall enough to hold content */
  font-size: 1rem;
  box-sizing: border-box;
  gap: 5px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  position: relative;
  transition:
  opacity 0.6s ease,
  height 0.6s ease,
  margin 0.6s ease,
  padding 0.6s ease;
  }

.calendar-dates div:hover {
  transform: scale(1.14);
  background-color: #4682B4;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
  }

.calendar-dates .grey {
  color: rgba(32, 30, 30, 0.42);
  opacity: 0.6;
}

.today {
  border: 2px solid black;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  background-color: #B9D9EB;
  z-index: 3;
}

.calendar-dates .highlight-week {
  font-size: 1.10rem;
  z-index: 2;
  background-color: #4682B4 ;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
  transition: all 0.6s ease-in-out;
}

.calendar-dates.week-focus-0 {
  grid-template-rows: 320px 10px 10px 10px 10px 10px;
}

.calendar-dates.week-focus-1 {
  grid-template-rows: 10px 320px 10px 10px 10px 10px;
}

.calendar-dates.week-focus-2 {
  grid-template-rows: 10px 10px 320px 10px 10px 10px;
}

.calendar-dates.week-focus-3 {
  grid-template-rows: 10px 10px 10px 320px 10px 10px;
}

.calendar-dates.week-focus-4 {
  grid-template-rows: 10px 10px 10px 10px 320px 10px;
}

.calendar-dates.week-focus-5 {
  grid-template-rows: 10px 10px 10px 10px 10px 320px;
}

.calendar-dates.week-focus-0 div:not(.highlight-week),
.calendar-dates.week-focus-1 div:not(.highlight-week),
.calendar-dates.week-focus-2 div:not(.highlight-week),
.calendar-dates.week-focus-3 div:not(.highlight-week),
.calendar-dates.week-focus-4 div:not(.highlight-week),
.calendar-dates.week-focus-5 div:not(.highlight-week) {
  transform: scale(0.9);
  filter: blur(1px) brightness(0.7);
  opacity: 0.5;
  transition: all 0.8s ease-in-out;
  font-size: 1px;
}


.calendar-header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  padding: 0;
  user-select: none;
}

.calendar-header-left {
  display: flex;
  justify-content: flex-end;
}

.calendar-header-middle {
  display: block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.calendar-header-right {
  display: flex;
  justify-content: flex-start;
}

#month-year {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 15px;
  margin-bottom: 0;
}

#week-range {
  font-size: 1rem;
  align-items: center;
  margin: 0;

}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  width: 100%;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.weekday {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-right: 20px;
  margin-left: 20px;
  align-items: center;
  font-size: 1rem;
  user-select: none;
  gap: 22px;
}

.weekday div {
  font-size: 1rem;
  user-select: none;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  justify-items: center;
  align-items: center;
  margin-top: 0;
}

.calendar-dates.day-view-active div {
  transform: scale(0.8);
  opacity: 0.3;
  pointer-events: none;
  transition: all 0.4s ease-in-out;
}

.calendar-dates.day-view-active .selected-day {
  transform: scale(2.2); /* adjust to fit your layout */
  opacity: 1;
  z-index: 5;
  pointer-events: auto;
  background-color: rgba(255, 255, 255, 0.07);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  transition: all 0.4s ease-in-out;
}





/*--------SIDEBAR--------*/

.sidebar {
  grid-area: sidebar;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-width: 400px;
  min-width: 280px;
  height: 100%;
  background-color: transparent;
  backdrop-filter: blur(2.9px);
  -webkit-backdrop-filter: blur(2.9px);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-left: 1vw;
  padding-right: 1vw;
}

.sidebar-container {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  background-color: transparent;
  transition: transform 1.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  transform-origin: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.sidebar-front,
.sidebar-back{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1.9px);
  -webkit-backdrop-filter: blur(2.9px);
}

.sidebar-front {
  z-index: 1;
}

.sidebar-back {
  transform: rotateY(180deg);
  z-index: 0;
}

.sidebar-flip {
  transform: rotateY(180deg);
}


/*--------CHANGE VIEW--------*/

.change-view-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.change-view-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

.view-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  padding: 15px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.view-button:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}



/*--------ADD EVENT--------*/

.add-event-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2.5rem;
  background-color: transparent;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 10;
  transition: transform 0.3s ease;
  transform-origin: center center;
  margin-right: 20px;
}

.add-event-button.clicked {
  transform: rotate(45deg);
}

#add-event-title {
  margin-top: 10px;
  font-size: 1.2rem;
}

#event-form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  height: 100%;
  position: relative;
}

#event-form input{
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  border: none;
}

#event-form button {
  border: none;
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  border-radius: 10px;

}

form button:hover {
  background-color: transparent;
}




/*--------@MEDIA--------*/

@media (min-width: 1200px) {

  .sidebar {
    width: 20%;
    max-width: 400px;
    margin: 0 auto;
  }

  .calendar {
    width: 100%;
  }


  #calendarViewTitleContainer{
    padding: 1rem 5vw;
  }


  #toDoList {
    width: 10vw;
  }
}

/*----FOR SMALLER SCREENS----*/

@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "content"
    "sidebar";
  }

  .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .calendar-container {
    width: 100%;
    height: auto;
  }

  .calendar-front {
    width: 100%;
    padding: 1rem;
  }

  .sidebar {
    width: 100%;
    height: 100%;
    min-width: 100%;
    max-width: unset;
  }

  .sidebar-front {
    width: 100%;
    height: 100%;
  }
}



