<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Calendar</title>

  <!--<link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/toggleStyle.css">
  <link rel="stylesheet" href="/css/calendarHeaderOptionsStyle.css">
  -->
  <link rel="stylesheet" href="/css/calendarStyle.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <meta name="description" content="">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:image:alt" content="">



  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="icon" href="/images/favicon.ico" sizes="any">
  <link rel="icon" href="/images/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/images/icon.png">
  <script defer src="/js/logInJS.js"></script>

</head>


<body>
  <div class="wrapper">

   <!--HEADER-->
    <!--CONTAINS: TITLE, THEME, SETTINGS-->
    <div class="header">

      <div class="logo">
        <img id="top-left-logo" src="/images/logga3.png" alt="Logo" style="width: 70px; height: auto;">

      </div>
        <h3 id="header-title">Self-Calendar</h3>
      <div class="change-view-container">
        <div class="change-view-buttons">
          <button class="view-button" id="day-view">Day</button>
          <button class="view-button" id="week-view">Week</button>
          <button class="view-button" id="month-view">Month</button>
          <button class="view-button" id="year-view">Year</button>
        </div>
      </div>


    </div>




    <!--CONTENT-->

    <div class="content">

        <div class="calendar">

            <div class="calendar-header">
              <div class="calendar-header-left">
                <button class="navigation-button" id="prev-month" type="button"> < </button>
              </div>
              <div class="calendar-header-middle">
                <h3 id="month-year"> </h3>
                <div id="week-range"></div>
              </div>
              <div class="calendar-header-right">
                <button class="navigation-button" id="next-month" type="button"> > </button>
              </div>
           </div>

          <div class="calendar-days">
            <div class="weekday" id="monday">Mon</div>
            <div class="weekday" id="tuesday">Tue</div>
            <div class="weekday" id="wednesday">Wed</div>
            <div class="weekday" id="thursday">Thu</div>
            <div class="weekday" id="friday">Fri</div>
            <div class="weekday" id="saturday">Sat</div>
            <div class="weekday" id="sunday">Sun</div>


          </div>


            <div class="calendar-dates" id="calendar-dates"></div>
          <div class="calendar-week-hours" style="display: none;"></div>





         </div> <!--CALENDAR-->

    </div> <!--CONTENT-->



    <!--SIDEBAR-->
    <div class="sidebar">

      <div class="sidebar-toggle-container">
        <button class="sidebar-add-event-mode">&#43; Event</button>
        <button class="sidebar-add-task-mode">&#43; Task</button>
      </div>

        <!--FRONT OF THE SIDEBAR (ADD EVENT FORM)-->
        <div class="sidebar-event-form">

          <form id="event-form">

            <div class="title-label-input">
              <input type="text" id="title-input" required="">
              <label for="title-input" class="title-label">Add Event Title</label>
              <div class="underline"></div>
            </div>

            <!-- All Day & Recurring Checkboxes -->
            <div class="form-row checkboxes">
              <div class="checkbox-all-day">
                <label>
                  <input type="checkbox" id="all-day">
                  All Day
                </label>
              </div>

              <div class="checkbox-re-event">
                <label>
                  <input type="checkbox" id="re-event">
                  Recurring Event
                </label>
              </div>
            </div>



            <!--Date + Time-->
            <div class="form-row date-time-grid">

              <div class="date-box">
                <label>
                  <input type="date" id="event-date" name="event-date" required>
                </label>
              </div>

              <div class="time-box">
                <label class="time-wrapper start">
                  <input type="time" id="event-start" name="event-start" class="time-input start-time">
                </label>
              </div>

              <div class="time-box">
                <label class="time-wrapper end">
                  <input type="time" id="event-end" name="event-end" class="time-input end-time">
                </label>
              </div>

            </div>


            <!--Category-->
            <div class="form-row category-row">

              <div class="category-options" id="category-options">
                <div class="category-tag" id="cat-1" style="background-color: #F8F25DFF">Work</div>
                <div class="category-tag" id="cat-2" style="background-color: #48cd48">School</div>
                <div class="category-tag" id="cat-3" style="background-color: #00bbff">Personal</div>
                <div class="category-tag" id="cat-4" style="background-color: #f84444">Important</div>

                <div class="category-tag" id="add-new"> Edit categories...</div>

              </div>
            </div>

            <div id="category-edit-modal" class="modal">
              <div class="modal-content">
                <h3>Edit Categories</h3>

                <div id="category-list">

                </div>

              <div class="buttons-row">
                <button id="save-categories">Save</button>
                <button id="close-modal" class="close-btn">Close</button>
              </div>






              </div>
            </div>



              <div class="description-box">
                <label for="event-description"></label>
                  <textarea id="event-description" name="event-description" rows="3" placeholder="Event details..." maxlength="150"></textarea>
                  <small id="char-count">0/150</small>
              </div>


            <div class="form-row color-row">


              <div class="color-display">
                <label for="event-color">Color:</label>
                <div id="color-preview" class="color-preview-box"></div>
                <input type="hidden" id="event-color" name="event-color" value="#e74c3c">
              </div>
            </div>


              <div class="form-row button-row">
                <div class="submit-wrapper">
                  <button type="submit">Add To Calendar</button>
                </div>

              </div>

          </form>
        </div>

      <div class="sidebar-to-do-list">
        <div class="to-do-list-container">
          <div class="to-do-list">
            <div class="to-do-list-header">
              <h4>To Do-List</h4>
              <div class="to-do-list-input">
                <input type="text" id="input-task-box" placeholder="Add your task">
                <button id="addTask">Add</button>
              </div>
            </div>
            <div class="to-do-list-content">
             <ul id="list-container">

             </ul>
            </div>

          </div>


        </div>


      </div>
      </div>

  </div>





  <script src="/js/calendarJS.js"></script>
<script src="/js/weekViewJS.js"></script>
  <script src="/js/addEvent2JS.js"></script>
<script src="/js/toDoListJS.js"></script>


</body>
</html>
