<!doctype html>
<html class="no-js" lang="">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Calendar</title>

  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/logIn.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

  <meta name="description" content="">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:image:alt" content="">

  <link rel="icon" href="/favicon.ico" sizes="any">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="icon.png">
  <script defer src="js/logInJS.js"></script>

  <link rel="manifest" href="site.webmanifest">
  <meta name="theme-color" content="#fafafa">

</head>

<body>
<div class="main-container">
  <div class="title-container">
    <h1 id="title">Self-Calendar</h1>
  </div>
  <div id="inner-container">
    <div class="login-container">
      <!--      <h2 id="welcome">Welcome!</h2>-->
      <form id="login-form">
        <input type="text" id="username" name="username" placeholder="Username" autocomplete="off">
        <input type="password" id="password" name="password" placeholder="Password">
        <button type="submit">Sign in</button>
      </form>
    </div>
    <div class="logIn-assistance-container">
      <button id="createAccount" class="assistance-button">Create Account</button>
      <button id="forgotPW" class="assistance-button">Forgot password?</button>
    </div>
  </div>
</div>


</body>

</html>
