<!doctype html>
<html class="no-js" lang="">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Calendar</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/baseStyle.css">
    <link rel="stylesheet" href="css/logIn.css">
    <link rel="stylesheet" href="css/resetPwStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

    <meta name="description" content="">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:image:alt" content="">

    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="icon.png">
    <script defer src="js/resetPwJS.js"></script>

    <link rel="manifest" href="site.webmanifest">
    <meta name="theme-color" content="#fafafa">

</head>

<body>
<div class="main-container">
    <div class="title-container">
        <h2 id="title">Reset Password</h2>
    </div>
    <div id="inner-container">
        <div id="reset-password-container" class="reset-password-container">
                  <h3 id="inner-container-title">What is your Email?</h3>
            <form id="email-form">
                <input type="email" id="email" name="email" placeholder="example@gmail.com" autocomplete="off">
                <button type="submit">Submit</button>
            </form>

            <form id="new-password-form">
                <input type="password" id="password1" name="password1" placeholder="new password" autocomplete="off">
                <input type="password" id="password2" name="password2" placeholder="verify new password" autocomplete="off">
                <button type="submit">Apply</button>
            </form>
        </div>
        <div class="return-button-container">
            <button id="return-button" class="assistance-button">Return</button>
        </div>
    </div>
</div>


</body>

</html>